# Imported functions
importFrom('statmod', "gauss.quad.prob")
importFrom('stats', "nlminb", "optim", "reshape", "sd", "qlogis", "plogis", "pchisq", "symnum")
importFrom('utils', "read.fwf", "read.table")
importFrom('mirt', "extract.mirt", "mod2values")

# Exported functions
export(linkp, modIRT, direc, alldirec, chainec, bisectorec, convert, import.ltm, 
  import.mirt, import.flexmirt, import.irtpro, itm, eqc, score, dif.test,id.test,sd.test)

# S3 methods
S3method(summary, eqc)
S3method(summary, eqclist)
S3method(summary, ceqc)
S3method(summary, ceqclist)
S3method(summary, meqc)
S3method(print, summary.eqc)
S3method(print, summary.eqclist)
S3method(print, summary.ceqc)
S3method(print, summary.ceqclist)
S3method(print, summary.meqc)
S3method(print, eqc)
S3method(print, eqclist)
S3method(print, ceqc)
S3method(print, ceqclist)
S3method(print, meqc)
S3method(print, dift)
S3method(print, idtest)
S3method(print, sdtest)
S3method(itm, eqc)
S3method(itm, eqclist)
S3method(itm, ceqc)
S3method(itm, ceqclist)
S3method(itm, meqc)
S3method(eqc, eqc)
S3method(eqc, eqclist)
S3method(eqc, ceqc)
S3method(eqc, ceqclist)
S3method(eqc, meqc)
S3method(score, eqc)
S3method(score, eqclist)
S3method(score, ceqc)
S3method(score, ceqclist)
S3method(score, meqc)

